.search-bar {
  text-align: center;
  margin: 25px 10px 10px 10px;
}

.search-bar input {
  width: 75%;
}

.video-details, .details {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #eee;
}
