.search-bar {
  text-align: center;
  margin: 20px 10px 10px 10px;
}

.search-bar input {
  width: 75%;
}

.video-details, .details {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 4px 4px #eee;
}

.list-group-item {
  box-shadow: 3px 3px 3px 3px #eee;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #eee;
}
